" Settings
set scrolloff=10
set number
set relativenumber
set showmode
set showcmd
set smartcase
set incsearch
set hlsearch
set visualbell
set clipboard+=unnamedplus

let mapleader=" "

" Plugins

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
set surround
set mini-ai
set which-key
set quickscope

" Keymaps
map Q gq
nmap <leader>cf <Action>(ReformatCode)
nmap s <Plug>(easymotion-s)
nmap <leader>fd :NERDTreeToggle<CR>
nmap <leader>cr <Action>(RenameElement)
